.btn-section button{
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    margin-left: 10px;
    height: 40px;
    font-size: 10px;
}
.btn-section{
    margin: 5px;
    height: 45px;
}

.CounterSection{
    font-size:  10px;
}